@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,
body {
  min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: absolute;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

.navbar-account {
  width: 100%;
  background-color: #AD3B3B;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-account .logo > a {
  color: white;
  text-decoration: none;
}

.navbar-account .user > a {
  color: white !important;
  text-decoration: none;
}

.logo {
  padding-top: 7px !important;
  font-size: 25px;
}

.logo > a {
  color: #384048;
  text-decoration: none;
}

.user > a {
  color: #444 !important;
}

.carousel {
  height: 440px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption .btn {
  border-radius: 0px !important;
  border: 1px solid white;
  background: none;
  color: white;
}

.carousel-caption .btn:hover {
  background: white !important;
  color: #AD3B3B !important;
}

/* Declare heights because of positioning of img element */
.small-header {
  height: 200px !important;
}

.carousel .item {
  height: 498px;
  background-color: #AD3B3B;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 440px;
}

.carousel-typewriter {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 20px;
  background: url('/img/terminal.jpg');
  background-repeat: no-repeat;
  width: 600px;
  padding-top: 25px;
  height: 100px;
  -moz-box-shadow: 0 0 5px 5px #733A3A;
-webkit-box-shadow: 0 0 5px 5px#733A3A;
box-shadow: 0 0 5px 5px #733A3A;
  /*font-family: 'Jura', sans-serif;*/
}

#carousel-typewriter-underline {
  background: none;
  border: 0px;
  border-bottom: 1px solid white;
  text-align: center;
  /*font-family: 'Jura', sans-serif;*/
}

#carousel-typewriter-underline:focus {
  outline: 0;
  background: none;
  border: 0px;
  border-bottom: 1px solid white;
}

#carousel-typewriter-result {
  font-size: 15px;
}

.main-red-text {
  font-size: 25px;
  color: #A82C2C;
  font-weight: 300;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing-box {
	position: relative;
	background: #ffffff;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Feature Section
------------------------- */
.full-width-features {
  background-color: #eee;
  padding: 50px;
  line-height: 1.7em;
}

.terms-and-conditions {
  overflow: scroll;
  height: 150px;
}

.full-width-features p {
  text-align: justify;
}

/* Pricing Section
------------------------- */
#full-width-pricing {
  margin-top: 50px;
}

/* FAQ Section
------------------------- */
#full-width-faq {
  background-color: #AD3B3B;
  color: white;
  margin-top: 30px;
  padding-bottom: 20px;
}

#full-width-faq p {
  text-align: justify;
}

/* Footer Section
------------------------- */
#full-width-footer {
  background-color: #A82C2C;
  color: white;
  height: 50px;
  padding-top: 15px;
}

#full-width-footer a {
  color: white;
}

/* LOGIN AND REGISTER PAGES */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  padding-bottom: 25px;
  font-weight: 300;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  

  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
@media (max-width: 1501px) {
  .carousel .item {
    height: 560px;
  }

  .carousel {
    margin-bottom: 110px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar {
    margin-bottom: 0px !important;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 24px;
    font-weight: 500;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.full-page-bg {
  /*background: url(../img/carousel.jpeg) no-repeat center center fixed; */
  background-color: #AD3B3B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-box .header {
  background-color: #367fa9;
}

.shadow-caption {
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  color: white;
}

.shadow-caption a{
  text-shadow: 0px;
}

.hide-at-first {
  display: none;
}

.under-check-indent {
  margin-left: 44px;
}

.btn-xxxlg {
  padding: 20px 26px;
  font-size: 28px;
  line-height: 1.33;
  max-width: 82px;
  min-width: 82px;
}

.login-logo,
.register-logo {
  margin-bottom: 0px !important;
  padding-bottom: 25px !important;
  padding-top: 25px !important;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

.box-pricing {
  font-size: 21px;
  font-weight: 300;
}

.box-pricing .box-header {
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.box-pricing .box-title {
  font-size: 24px !important;
}

.red-button {
  padding: 20px;
  margin-top: 15px;
  border-radius: 0px !important;
  border: 1px solid white;
  background-color: #AD3B3B;
  color: white;
}

.red-button:hover {
  background: #A82C2C !important;
  color: white !important;
}


/* SCAN PAGE */
#scan-output-log {
  width: 100%;
  border: 1px solid #EEEEEE;
  height: 100px;
}

.results-loading-img {
  height: 17px;
}

.container-fluid {
  margin-top: 50px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.page-header {
  margin-top: 20px !important;
}

.dashboard-map {
  height: 600px;
  background: url('/img/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#full-width-faq p > a {
  color: white !important;
  text-decoration: underline;
}

#full-width-faq p > a:hover {
  color: white !important;
  text-decoration: none;
}

.navbar-toggle {
  border: 1px solid black;
}

.navbar-toggle .icon-bar {
  border: 1px solid black;
}

.bg-color-green {
background-color: #fff;
border-color: #5cb85c;
color: #5cb85c;
}
 .bg-color-blue {
background-color: #fff;
color: #4CB1CF;
border-color: #4CB1CF;
}
  .bg-color-red {
background-color: #fff;
color:#F0433D;
border-color:#F0433D;
}
  .bg-color-brown {
background-color: #fff;
color:#f0ad4e;
border-color:#f0ad4e;
}
  .bg-color-grey {
background-color: #fff;
color:#827474;
border-color:#827474;
}
.back-footer-green {
background-color: #5cb85c;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-red {
background-color: #F0433D;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-blue {
background-color: #4CB1CF;
color:#fff;
border-top: 0px solid #fff;
}
 .back-footer-brown {
background-color: #f0ad4e;
color:#fff;
border-top: 0px solid #fff;
}
.back-footer-grey {
background-color: #827474;
color:#fff;
border-top: 0px solid #fff;
}

.shadow-caption a {
  color: white;
  text-decoration: underline;
}

.shadow-caption a:hover {
  text-decoration: none;
}

#features-table td {
  padding: 20px;
  text-align: center;
}

#features-table th {
  padding: 20px;
  text-align: center;
}

#features-table tr td:nth-child(4)  {
  background-color: #f5f5f5;
}

#features-table tr td:nth-child(5)  {
  background-color: #f5f5f5;
}

#features-table thead th:nth-child(4)  {
  background-color: #f5f5f5;
}

#features-table thead th:nth-child(5)  {
  background-color: #f5f5f5;
}

#features-table tr th:nth-child(1)  {
  background-color: #FFF4F4;
}

#features-table thead th:nth-child(1)  {
  background-color: #FFF4F4;
}